@model RecipesSharingWebApp.Areas.Admin.ViewModels.CategoryViewModel

@{
    ViewData["Title"] = "Recipe-Category-List";
}

<div class="container-fluid">
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">Category</h1>
        <!-- Button trigger modal -->
        <button type="button" class="btn btn-info" data-toggle="modal" data-target="#exampleModal">
            <a asp-controller="Dashboard" asp-action="AddCategory">Add Category</a>
        </button>
    </div>


    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-info">Category</h6>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th> Name</th>
                            <th>Category Description</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            @{
                                foreach (var category in Model.Categories)
                                {
                                    <td>@category.Name</td>
                                    <td>@category.Description</td>
                                }
                            }
                        </tr>

                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>