@model List<RecipeSharingWebApp.Areas.Admin.Models.Favorite>

@{
    ViewData["Title"] = "Recipe-Favorite-List";
}

<div class="container-fluid">
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">Favorite Recipes</h1>

    </div>


    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-info">Favorites</h6>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th> Recipe Title</th>                                                 
                        </tr>
                    </thead>
                    <tbody>
                   
                            <tr>
                               
                                  @{  
                                    foreach (var recipe in Model)
                                    {
                                        <td>@recipe.Id</td>
                                        <td>@recipe.UserId</td>
                                    }
                                } 
                            </tr> 
                      
 





                       

                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>