<nav class="sidebar sidebar-offcanvas" id="sidebar">
    <ul class="nav">
        <li class="nav-item sidebar-category">
            <p>Navigation</p>
            <span></span>
        </li>
        <li class="nav-item">
            <a class="nav-link" asp-controller="Dashboard" asp-action="Index">
                <i class="mdi mdi-view-quilt menu-icon"></i>
                <span class="menu-title">Dashboard</span>
                <div class="badge badge-info badge-pill">2</div>
            </a>
        </li>
        <li class="nav-item sidebar-category">
            <p>Components</p>
            <span></span>
        </li>
     
        <li class="nav-item">
            <a class="nav-link" asp-controller="Dashboard" asp-action="Recipe">
                <i class="mdi mdi-view-headline menu-icon"></i>
                <span class="menu-title">Recipe</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" asp-controller="Dashboard" asp-action="Category">
                <i class="mdi mdi-chart-pie menu-icon"></i>
                <span class="menu-title">Category</span>
            </a>
        </li>
         <li class="nav-item">
            <a class="nav-link" asp-controller="Dashboard" asp-action="Comment">
                <i class="mdi mdi-grid-large menu-icon"></i>
                <span class="menu-title">Comments</span>
            </a>
        </li> 
        <li class="nav-item">
            <a class="nav-link" asp-controller="Dashboard" asp-action="Profile">
                <i class="mdi mdi-emoticon menu-icon"></i>
                <span class="menu-title">Users</span>
            </a>
        </li>

    </ul>
</nav>